.login-section {
	background-size: cover;
	background-position: center;
}

.login-form {
	width: 500px;
	box-shadow: 2px 2px 5px #949494;
}

.main-div-of-logo-login-sec {
	align-items: center;
}

.logo {
	margin-left: 50%;
	transform: translateX(-50%);
}

.logo-icon {
	width: 25%;
	height: 25%;
}

.eye-btn:hover {
	outline: 0 !important;
}

.pass-input {
	border: 1px solid red;
	border-radius: 5px;
}
